.combo {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid white;
    cursor: pointer;
    padding: 1rem 0.5rem;
    border-radius: 0.5rem;
    gap: 0.5rem;
    width: 100%;
    user-select: none;

    &.favourite {
        border: 1px solid gold;
    }

    .move-command {
        border: 1px solid white;

        &.launcher {
            border: 1px solid gold;
            margin-bottom: 0.5rem;
        }
    }

    &__main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0.5rem;

        &__name {
            display: flex;
            width: auto;
            font-size: 1.5rem;
            font-weight: 600;
            padding: 0.2rem 0.5rem;

            &.sort-selected {
                border: 1px solid var(--side);
                background-color: var(--side);
                border-radius: 0.5rem;
                color: black !important;
            }

            &.favourite {
                color: gold;
            }
        }

        &__other {
            display: flex;
            gap: 0.5rem;

            .damage {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.2rem;
                min-width: 2.5rem;
                height: 2.5rem;
                width: 3rem;
                font-weight: 700;
                border: 1px solid;
                border-radius: 0.5rem;

                &.sort-selected {
                    border: 1px solid var(--side);
                    background-color: var(--side);
                    border-radius: 0.5rem;
                    color: black !important;
                }
            }

            .favourite {
                color: black;
                background-color: gold;
            }
        }

    }

    &__command {
        display: flex;
        flex-direction: column;
    }
    
    &__note {
        font-size: 1.2rem;
        width: 100%;
        text-align: start;

        .move-command {
            border: none;
            padding: 0.2rem 0;
        }
    }

    &__tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5rem;
    }
}