.move {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 0.5rem;
    border: 1px solid;
    border-radius: 0.5rem;
    padding: 1rem;
    cursor: pointer;

    &.favourite {
        border: 1px solid gold;
    }

    &__main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        gap: 0.5rem;

        &__name {
            display: flex;
            width: 55%;
            font-size: 1.5rem;
            font-weight: 600;

            &.favourite {
                color: gold;
            }
        }

        &__badges {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;

            .small {
                min-width: 2.5rem;
                min-height: 2.5rem;
                height: 2.5rem;
                width: 2.5rem;
                font-size: 1.2rem;
                padding: 0;
            }

            .favourite {
                color: black;
                background-color: gold;
            }
        }

    }

    &__category {
        display: flex;
        gap: 0.5rem;
        margin-bottom: 0.5rem;

        .dodge {
            min-width: 2.5em;
            width: 2.5em;
            min-height: 2.5rem;
            height: 2.5rem;
        }
    }

    &__props {
        display: flex;
        flex-direction: row;
        align-items: end;
        text-align: center;
        flex-wrap: wrap;
        box-sizing: border-box;
        gap: 1rem;
        font-size: 1.2rem;
        margin-bottom: 0.5rem;

        &__prop {
            height: 2.3rem;
            display: flex;
            flex-direction: row;
            text-align: start;
            user-select: none;
            box-sizing: border-box;
            align-items: center;
            text-align: end;
            border: 1px solid white;
            border-radius: 0.5rem;

            &.selected-sort {
                border: 1px solid;
                

                div:first-of-type {
                    background-color: white;
                    border-top-left-radius: 0.5rem;
                    border-bottom-left-radius: 0.5rem;
                    color: black;
                    
                }

                div:nth-of-type(2) {}
            }

            &__label {
                display: flex;
                align-items: center;
                width: 5rem;
                padding-right: 0.5rem;
                font-weight: 700;
                padding-left: 0.2rem;
                text-align: start;
                box-sizing: border-box;
                
                height: 100%;
            }

            &__value {
                box-sizing: border-box;
                text-align: center;
                width: 3rem;
                padding: 0.2rem 0.1rem;

                &.throw-attempt {
                    color: lightgreen;
                    font-weight: 700;
                }

                &.jab-punish {
                    color: aqua;
                    font-weight: 700;
                }

                &.combo-punish {
                    color: yellow;
                    font-weight: 700;
                }

                &.launch-punishable {
                    color: orange;
                    font-weight: 700;
                }

                &.ded {
                    color: red;
                    font-weight: 700;
                }

            }
        }
    }

    .move-command {
        box-sizing: border-box;
        border: 1px solid white;
        border-radius: 0.5rem;
        padding: 0.7rem 0.7rem;

    }

    &__notes {
        font-size: 1.2rem;
        font-style: italic;
    }
}