.move {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 0.5rem;
    border: 1px solid;
    border-radius: 0.5rem;
    padding: 1rem;
    cursor: pointer;

    &.favorite {
        border: 1px solid gold;
    }

    &__main {
        font-size: 1.5rem;
        font-weight: 600;
        gap: 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        &__name {
            &.favorite {
                color: gold;
            }
        }

    }

    &__type {
        font-size: 1.2rem;
    }

    &__damage {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        font-size: 1.2rem;
    }

    &__frame-data {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        font-size: 1.2rem;
    }

    &__notes {
        font-size: 1.2rem;
        font-style: italic;
    }
}