.move {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 0.5rem;
    border: 1px solid;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
    cursor: pointer;

    &.favourite {
        border: 1px solid gold;
    }

    &__main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 0.5rem;

        &__name {
            display: flex;
            width: auto;
            flex-wrap: wrap;
            font-size: 1.4rem;
            font-weight: 600;
            border-radius: 0.5rem;
            border: 1px solid transparent;
            
            &.sort-selected {
                border: 1px solid var(--side);
                background-color: var(--side);
                border-top-left-radius: 0.3rem;
                border-bottom-left-radius: 0.3rem;
                color: black;
            }
        }

        &__badges {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;

            .favourite {
                color: black;
                background-color: gold;
            }
        }

    }

    &__category {
        display: flex;
        gap: 0.5rem;

        .dodge {
            min-width: 2.5em;
            width: 2.5em;
            min-height: 2.5rem;
            height: 2.5rem;
        }
    }

    &__props {
        display: flex;
        flex-direction: row;
        align-items: end;
        text-align: center;
        flex-wrap: wrap;
        box-sizing: border-box;
        font-size: 1.1rem;
    }

    .move-command {
        box-sizing: border-box;
        border: 1px solid white;

        &.active {
            background-color: white;
            
            
            .notation {
                color: black;
                .icon {
                    path {
                        fill: black;
                    }
                }
            }
        }
    }
    
    &__move-attack-level {
        display: flex;
        gap: 0.5rem;
    }

    &__notes {
        font-size: 1.2rem;
        white-space: pre-wrap;
        .move-command {
            border: none;
            padding: 0.2rem 0;
        }
    }
}

.move-simple {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 0.8rem;
    border: 1px solid;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
    cursor: pointer;

    &.favourite {
        border: 1px solid gold;
    }

    &__top {
        display: flex;
        gap: 0.5rem;

        .button {
            font-size: 0.9rem!important;
            min-width: 2.5rem!important;
            width: 2.5rem!important;
            min-height: 2.5rem!important;
            height: 2.5rem!important;
        }

        .move-command {
            padding: 0;
        }
    }

    &__bot {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;

        &__scrollable-props  {
            display: flex;
            flex-direction: row;
            overflow-x: auto;
            font-size: 1.1rem;

            &__sortable-prop {
            }
        }
     
    }

}