.character-matchup {
    height: 100%;

    &__header {
        display: flex;
        height: 4rem;
        align-items: center;
        background: white;
        justify-content: space-between;

        &__left {
            display: flex;
            align-items: center;

            .back-button {
                height: 4rem;
                width: 4rem;
                border: none;
                background-color: white;

                svg {
                    path {
                        fill: black;
                    }
                }
            }

            &__name {
                display: inline-flex;
                align-items: center;
                font-weight: 700;
                padding-left: 2rem;
                text-align: center;
                color: black;
                font-size: 2rem;

            }
        }

        &__right {
            display: flex;
            align-items: center;

            &__loses {  
                font-size: 1.4rem;
                font-weight: bold;
                color: var(--ex-high);
            }

            &__wins {
                font-size: 1.4rem;
                font-weight: bold;
                color: var(--mid);
            }

            &__win-rate {
                font-size: 1.4rem;
                font-weight: bold;
                color: black;
            }
        }

        .edit-button {
            height: 4rem;
            width: 4rem;
            background-color: white;

            svg {
                path {
                    fill: black !important;
                }
            }
        }


    }

    &__content {
        width: 100%;
        height: 100%;

        &__combos-notes {
            width: 100%;
            height: calc(100% - 8rem);
            overflow-y: auto;

            &__header {
                display: flex;
                flex-direction: row;
                width: 100%;

                .button {
                    flex: 1;
                }
            }

            &__list {
                width: 100%;

                &__note {
                    width: 100%;
                    padding: 0.5rem;
                    font-size: 1.2rem;
                    box-sizing: border-box;
                    white-space: pre-wrap;

                    .move-command {
                        padding: 0.2rem 0;
                    }
                }

                &__combo {
                    display: flex;
                    flex-direction: column;
                    gap: 0.3rem;
                    border-bottom: 1px solid white;
                    padding: 1rem 0.5rem;

                    &.favourite {
                        background-color: rgba(255, 215, 0, 0.2);
                    }
                    
                    &__launcher {
                        display: flex;
                        justify-content: space-between;

                        .damage {
                            height: 2.5rem;
                            color: var(--ex-high);
                        }
                    }

                }
            }

        }
    }

}