.notation {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    height: 2rem;
    width: auto;

    &.p {
        background-color: var(--punch);
        width: 2rem;
        border-radius: 1.5rem;
        font-weight: 700;
        border: 1px solid;
    }

    &.k {
        background-color: var(--kick);
        width: 2rem;
        border-radius: 1.5rem;
        font-weight: 700;
        border: 1px solid;
    }

    &.g {
        background-color: var(--guard);
        width: 2rem;
        border-radius: 1.5rem;
        font-weight: 700;
        border: 1px solid;
    }

    &.and {
        font-size: 1.3rem;
        font-weight: 700;
    }

    &.or {
        font-size: 1.2rem;
        font-weight: 700;
    }

    &.ch {
        font-size: 1.2rem;
        font-weight: 700;
        color: var(--ch);
    }

    &.combi {
        font-size: 1.2rem;
        font-weight: 700;
        width: 0.3rem;
    }

    &.sd {
        font-size: 1.2rem;
        font-weight: 700;
        color: var(--side);
    }

    &.w {
        font-size: 1.2rem;
        font-weight: 700;
        color: var(--wall);
    }

    &.wb {
        font-size: 1.2rem;
        font-weight: 700;
        color: var(--wall);
    }

    &.hit {
        font-size: 1.2rem;
        font-weight: 700;
        color: var(--high);
    }

    &.shft {
        font-size: 1rem;
    }

    &.⊙ {}

    &.★ {}
}