.notation {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    width: auto;

    &.combi-start {
        border-left: 2px solid white;
        border-radius: 0.5rem;
        padding-left: 2px;
    }

    &.combi-end {
        border-right: 2px solid white;
        border-radius: 0.5rem;
        padding-right: 2px;
    }

    &__icon {
        text-align: center;
        font-size: 0.8rem;

        &.launcher-separator {
            color: gold;
            font-weight: bolder;
        }

        &.p {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            
            
            width: 1.3rem;
            height: 1.3rem;
            border-radius: 1.5rem;
            border: 1px solid;
            background-color: var(--punch);
        }

        &.k {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            
            
            width: 1.3rem;
            height: 1.3rem;
            border-radius: 1.5rem;
            border: 1px solid;
            background-color: var(--kick);
        }

        &.g {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            
            
            width: 1.3rem;
            height: 1.3rem;
            border-radius: 1.5rem;
            border: 1px solid;
            background-color: var(--guard);
        }

        &.and {
            font-weight: 700;
        }

        &.or {
            
            
            font-weight: 700;
        }

        &.ch {
            
            
            font-weight: 700;
            color: var(--ch);
        }

        &.sd {
            
            
            font-weight: 700;
            color: var(--side);
        }

        &.w {
            
            
            font-weight: 700;
            color: var(--wall);
        }

        &.wb {
            
            
            font-weight: 700;
            color: var(--wall);
        }

        &.hit {
            
            
            font-weight: 700;
            color: var(--high);
        }

        &.shft {
            
            
        }

        &.⊙ {}

        &.★ {}
    }


}