.character {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    &__header {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        text-align: center;
        box-sizing: border-box;
        gap: 1rem;
        height: 4rem;
        width: 100%;
        padding: 0.5rem;
        border-bottom: 1px solid white;

        &__name {
            align-content: center;
            height: 100%;
            font-size: 2rem;
            font-weight: 600;
            
        }
    }
}