.character {
    height: 100%;
    width: 100%;

    &__header {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        background-color: white;
        color: black;
        gap: 1rem;
        width: 100%;

        &.online {
            background-color: var(--wall);

            .button {
                background-color: var(--wall);
            }
        }

        .button {
            height: 4rem;
            font-size: 2.5rem;
            font-weight: 600;
            background-color: white;
            color: black;

            &.character-name {
                width: calc(100% - 10rem);
            }
        }
    }

    &__sub-header {
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        width: 100%;
        height: 3rem;

        .button {
            font-size: 1.3rem;
            flex: 1;
        }


    }
}