.character {
    height: 100%;
    width: 100%;

    &__header {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        background-color: white;
        color: black;
        width: 100%;

        &.character_movelist {
            background-color: var(--movelist);

            .button {
                background-color: transparent;
            } 
        }

        &.character_combos {
            background-color: var(--combos);

            .button {
                background-color: transparent;
            } 
        }

        &.character_notes {
            background-color: var(--notes);

            .button {
                background-color: transparent;
            } 
        }

        &.character_matchups {
            background-color: var(--matchups);

            .button {
                background-color: transparent;
            } 
        }

        &.character_combos_search {
            background-color: var(--combos-search);

            .button {
                background-color: var(--combos-search);
            }
        }

        .button {
            height: 4rem;
            font-size: 2rem;
            font-weight: 600;
            background-color: white;
            color: black;
            border-radius: 0;

            &:active {
                transform: none !important;;
            }

            &.character-name {
                flex: 1;
            }
        }
    }
}