.combos-search {
    height: 100%;

    &__header {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0.5rem;

        &__left {
            display: flex;
            gap: 0.5rem;
        }
    }
    
    &__loading {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
    }

    &__no-results {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
    }

    &__results {
        height: calc(100% - 10rem);
        overflow-y: auto;
    }
    
}