.button {
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: var(--button-color);
    color: var(--white-color);
    min-height: 3rem;
    min-width: 3rem;
    width: auto;
    border-radius: 5px;
    font-weight: 800;
    padding: 0.3rem 0.5rem;
    border: 1px solid var(--white-color);
    transition: transform 0.2s ease, background-color 0.2s ease;

    &:not(:disabled) {
        &:active {
            transform: scale(0.96);
            background-color: var(white);
        }

    }

    &:focus {
        outline: none;
    }

    &.s {
        font-size: 0.9rem!important;
        height: 2.5rem!important;
        width: fit-content;
        min-height: 2.5rem!important;
        min-width: 2.5rem!important;
        box-sizing: border-box!important;
    }

    &.liked {
        background-color: lightgreen;
    }

    &.tab {
        border-top: 0 !important;
        border-radius: 0px;

        &:not(:disabled) {
            &:active {
                transform: none !important;
                background-color: var(--disabled-color);
            }

        }

        &-left {
            border-top: 0 !important;
            border-left: 0 !important;
            border-right: 0 !important;
            border-radius: 0px;

            &:not(:disabled) {
                &:active {
                    transform: none !important;
                    background-color: var(--disabled-color);
                }

            }
        }

        &-right {
            border-top: 0 !important;
            border-left: 0 !important;
            border-right: 0 !important;
            border-radius: 0px;

            &:not(:disabled) {
                &:active {
                    transform: none !important;
                    background-color: var(--disabled-color);
                }

            }
        }
    }

    &.left {
        border-top-left-radius: 0.5rem !important;
        border-bottom-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-right: 0 !important;
        border-left: 1px solid white !important;
    }

    &.center {
        border-radius: 0px !important;
        border-bottom: 1px solid white;
    }

    &.right {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-top-right-radius: 0.5rem !important;
        border-bottom-right-radius: 0 !important;
        border-left: 0 !important;
        border-right: 1px solid white !important;
    }

    &.danger {
        color: var(--red-color);
        border: 2px solid var(--red-color);
    }

    &.dotted-border {
        border: 1px dotted var(--white-color) !important;
    }

    &.dashed-border {
        border: 1px dashed var(--white-color);
    }

    &.disabled {
        border: 1px dashed var(--disabled-color);
        color: var(--disabled-color) !important;
        background-color: black !important;

        svg {
            fill: var(--disabled-color);

            path {
                fill: var(--disabled-color);
            }

            line {
                fill: var(--disabled-color);
                stroke: var(--disabled-color);
            }

            polyline {
                fill: var(--disabled-color);
                stroke: var(--disabled-color);
            }
        }
    }

    &.no-border {
        border: none;
    }

    &.active {
        background-color: var(--white-color);
        color: black;
    }

    &.reset {
        width: auto !important;
    }

    &.SLW {
        color: white;
        background-color: var(--super-lightweight);
    }

    &.LW {
        color: white;
        background-color: var(--lightweight);
    }

    &.MW {
        color: white;
        background-color: var(--midweight);
    }

    &.HW {
        color: white;
        background-color: var(--heavyweight);
    }

    &.SHW {
        color: white;
        background-color: var(--super-heavyweight);
    }

    &.save {
        color: var(--mid);
        border: 1px solid var(--mid);
    }

    &.favourite {
        color: black;
        background-color: var(--favourite);
        border: 1px solid var(--favourite);
    }

    &.damage {
        color: var(--ex-high);
    }

    &.sort-selected {
        border: 1px solid var(--side);
    }

    // 

    &.character {
        background-color: pink;
        color: black;
    }

    // 

    &.move-type {
        color: black;
    }

    &.high {
        background-color: var(--high);    
    }

    &.ex_high {
        background-color: var(--ex-high);
    }

    &.mid {
        background-color: var(--mid);
    }

    &.ex_mid {
        background-color: var(--ex-mid);
    }

    &.low {
        background-color: var(--low);
    }

    &.ex_low {
        background-color: var(--ex-low);
    }

    &.high_unblockable {
        background: linear-gradient(to right, var(--high), var(--catch));
    }

    &.high_throw {
        background: linear-gradient(to right, var(--high), var(--throw));
    }

    &.low_throw {
        background: linear-gradient(to right, var(--low), var(--throw));
        
    }

    &.high_catch_throw {
        background: linear-gradient(to right, #ffe907, #c51a05);
        
    }

    &.low_catch_throw {
        background: linear-gradient(to right, #df5fd9, #c51a05);
        
    }

    &.hit_throw {
        background: linear-gradient(to right, #05d602, white);
        
    }

    &.down_throw {
        background: linear-gradient(to right, #904efe, white);
        
    }

    &.throw_combo {
        background: linear-gradient(to right, white, #05d602);
        
    }

    &.down_attacks {
        background-color: grey;
        
    }

    &.deflect {
        background: linear-gradient(to right, white, grey);
        
    }

    &.special {
        background: linear-gradient(to right, gray, white);
        
    }

    &.atemi {
        background: linear-gradient(to top, gray, white);
        
    }

    &.inashi {
        background: linear-gradient(to top, gray, white);
        
    }

    &.rev_combo {
        background: linear-gradient(to top, #05d602, gray);
        
    }

    &.wall {
        background-color: darkgreen;
    }

    &.side {
        
        background-color: aqua;
    }

    &.ch {
        
        background-color: orange;
    }
    
    &.other {
        background-color: fuchsia;
    }
}