.button {
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: var(--button-color);
    color: var(--white-color);
    min-height: 3rem;
    min-width: 3rem;
    width: auto;
    border-radius: 0.5rem;
    font-weight: 800;
    padding: 0.3rem 0.5rem;
    border: 0.1rem solid var(--white-color);
    transition: transform 0.2s ease, background-color 0.2s ease;

    &:not(:disabled) {
        &:active {
            transform: scale(0.96);
            background-color: var(white);
        }

    }

    &:focus {
        outline: none;
    }

    &.s {
        font-size: 0.9rem !important;
        height: 2.5rem !important;
        width: fit-content;
        min-height: 2.5rem !important;
        min-width: 2.5rem !important;
        box-sizing: border-box !important;
    }

    &.liked {
        background-color: var(--liked);
        border-color: var(--liked);

        svg {
            stroke: white;

            path {
                stroke: white;
            }
        }
    }

    &.tab {
        border-top: 0 !important;
        border-radius: 0;

        &:not(:disabled) {
            &:active {
                transform: none !important;
                background-color: var(--disabled-color);
            }

        }

        &-left {
            border-top: 0 !important;
            border-left: 0 !important;
            border-right: 0 !important;
            border-radius: 0;

            &:not(:disabled) {
                &:active {
                    transform: none !important;
                    background-color: var(--disabled-color);
                }
            }
        }

        &-right {
            border-top: 0 !important;
            border-left: 0 !important;
            border-right: 0 !important;
            border-radius: 0;

            &:not(:disabled) {
                &:active {
                    transform: none !important;
                    background-color: var(--disabled-color);
                }

            }
        }
    }

    &.left {
        border-top-left-radius: 0.5rem !important;
        border-bottom-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-right: 0 !important;
        border-left: 0.1rem solid white !important;
    }

    &.center {
        border-radius: 0 !important;
        border-bottom: 0.1rem solid white;
    }

    &.right {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-top-right-radius: 0.5rem !important;
        border-bottom-right-radius: 0 !important;
        border-left: 0 !important;
        border-right: 0.1rem solid white !important;
    }

    &.danger {
        color: var(--red-color);
        border: 0.2rem solid var(--red-color);
    }

    &.dotted-border {
        border: 0.1rem dotted var(--white-color) !important;
    }

    &.dashed-border {
        border: 0.1rem dashed var(--white-color);
    }

    &.disabled {
        border: 0.1rem dashed var(--disabled-color) !important;
        color: var(--disabled-color) !important;
        background-color: black !important;

        svg {
            fill: var(--disabled-color);

            path {
                fill: var(--disabled-color);
            }

            line {
                fill: var(--disabled-color);
                stroke: var(--disabled-color);
            }

            polyline {
                fill: var(--disabled-color);
                stroke: var(--disabled-color);
            }
        }
    }

    &.no-border {
        border: none;
    }

    &.active {
        background-color: var(--white-color);
        color: black;
    }

    &.reset {
        width: auto !important;
    }

    // WEIGHTS
    &.SLW {
        color: white;
        background-color: var(--super-lightweight);
    }

    &.LW {
        color: white;
        background-color: var(--lightweight);
    }

    &.MW {
        color: white;
        background-color: var(--midweight);
    }

    &.HW {
        color: white;
        background-color: var(--heavyweight);
    }

    &.SHW {
        color: white;
        background-color: var(--super-heavyweight);
    }

    // 

    &.launcher {
        border: 0.2rem solid gold;
    }

    &.pseudo-launcher {
        border: 0.2rem dashed gold;
    }

    .move-command {
        padding: 0;
    }

    &.save {
        color: var(--mid);
        border: 0.1rem solid var(--mid);
    }

    &.favourite {
        color: black;
        background-color: var(--favourite);
        border: 0.1rem solid var(--favourite);
    }

    &.damage {
        color: var(--red-color);
    }

    &.sort-selected {
        border: 0.1rem solid var(--side);
    }

    // 

    &.all-characters {
        background-color: pink;
        border-color: pink;
        color: black;
    }

    // ATTACK LEVELS
    &.move-type {
        color: black;
    }

    &.high {
        background-color: var(--high);
        border-color: var(--high);
    }

    &.ex_high {
        background-color: var(--ex-high);
        border-color: var(--ex-high);
    }

    &.mid {
        background-color: var(--mid);
        border-color: var(--mid);
    }

    &.ex_mid {
        background-color: var(--ex-mid);
        border-color: var(--ex-mid);
    }

    &.low {
        background-color: var(--low);
        border-color: var(--low);
    }

    &.ex_low {
        background-color: var(--ex-low);
        border-color: var(--ex-low);
    }

    &.high_unblockable {
        background: linear-gradient(to right, var(--high), var(--other));
        border-color: transparent;
    }

    &.high_throw {
        background: linear-gradient(to right, var(--high), var(--throw));
        border-color: transparent;
    }

    &.low_throw {
        background: linear-gradient(to right, var(--low), var(--throw));
        border-color: transparent;
    }

    &.high_catch_throw {
        background: linear-gradient(to right, var(--high), var(--catch));
        border-color: transparent;
    }

    &.low_catch_throw {
        background: linear-gradient(to right, var(--low), var(--catch));
        border-color: transparent;
    }

    &.hit_throw {
        background: linear-gradient(to right, var(--mid), var(--throw));
        border-color: transparent;
    }

    &.down_throw {
        background: linear-gradient(to right, var(--ex-low), var(--throw));
        border-color: transparent;
    }

    &.throw_combo {
        background: linear-gradient(to right, var(--throw), var(--other));
        border-color: transparent;
    }

    &.down_attacks {
        background-color: var(--down-attack);
        border-color: var(--down-attack);
    }

    &.deflect {
        background: linear-gradient(to right, white, grey);
        border-color: transparent;
    }

    &.special {
        background: linear-gradient(to right, gray, white);
        border-color: transparent;
    }

    &.atemi {
        background: linear-gradient(to top, gray, white);
        border-color: transparent;
    }

    &.inashi {
        background: linear-gradient(to top, gray, white);
        border-color: transparent;
    }

    &.rev_combo {
        background: linear-gradient(to top, #05d602, gray);
        border-color: transparent;
    }

    &.wall {
        background-color: var(--wall);
        border-color: var(--wall);
    }

    &.side {
        background-color: var(--side);
        border-color: var(--side);
    }

    &.ch {
        background-color: var(--ch);
        border-color: var(--ch);
    }

    &.other {
        background-color: var(--other);
        border-color: var(--other);
    }
}