.import-data-preview {
    &__content {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 0;
        width: 25rem;

        &__header {
            color: red;
            font-size: 1.4rem;
            font-weight: 600;
        }

        &__data {
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            max-height: 30rem;

            &__character {
                &__header {
                    font-size: 1.3rem;
                    font-weight: 600;
                }
                &__content {
                    font-size: 1.2rem;
                }
            }
        }
    }

    &__footer {
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 2rem;
    }
}