.matchup-notes {
    &__header {
        display: flex;
        flex-direction: row;
        width: 100%;

        .button {
            flex: 1;

            span {
                padding-right: 1rem;
            }
        }
    }

    &__list {
        box-sizing: border-box;
        width: 100%;
        
        .note {
            &__content {
                
                border: none;
                font-size: 1rem;
                padding: 0.3rem 1rem;
            }
        }
    }
}