.launchers-view {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;

    .move-command {
        box-sizing: border-box;
        border: 1px solid white;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        &.selected {
            border: 1px solid gold;
        }
    }
}