.launchers-view {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 1rem;
    box-sizing: border-box;

    .move-command {
        border: 1px solid white;

        &.selected {
            border: 1px solid gold;
        }
    }
}