.move-modal {
    max-width: 33rem;

    &__content {
        padding: 1rem;

        .move {
            border-top: 0;
        }

        &__textarea-container {
            width: 100%;
            box-sizing: border-box;

            textarea {
                width: 100%;
                height: 10rem;
                resize: none;
                box-sizing: border-box;
            }
        }
    }

    .modal-footer {
        gap: 1.5em;

        .button {
            width: fit-content;
        }
    }
}