.hamburger {

    .button {
        width: 5rem;
        justify-content: right;
    }

    &__container {
        z-index: var(--hamburger-bg-z-index);
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: end;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        right: 0rem;

        &__options {
            width: 15rem;

            &__option {
                cursor: pointer;
                user-select: none;
                font-weight: bold;
                background-color: white;
                border-bottom: 0.1rem solid black;
                padding: 1rem;
                font-size: 1.5rem;
                height: 2rem;

                &.selected {
                    background-color: var(--no-category);
                    color: white;
                }
            }
        }
    }

}