.matchups {
    width: 100%;
    height: calc(100% - 4rem);

    .active-filters-list {
        padding-top: 0.5rem;
    }

    &__container {  
        box-sizing: border-box;
        overflow-y: auto;
        height: calc(100% - 4rem);
        width: 100%;
    }
}