.move-type-badge {
    font-size: 1.2rem!important;
    padding: 0.2rem 0.5rem!important;
    border-radius: 0.5rem!important;
    height: 2.5rem!important;
    min-height: 2.5rem!important;
    box-sizing: border-box!important;
    color: black;

    &.not-selected {
        color: white!important;
        background-color: black!important;
        background: black!important;
    }

    &.high {
        background-color: var(--high);    
    }

    &.ex_high {
        background-color: var(--ex-high);
    }

    &.mid {
        background-color: var(--mid);
    }

    &.ex_mid {
        background-color: var(--ex-mid);
    }

    &.low {
        background-color: var(--low);
    }

    &.ex_low {
        background-color: var(--ex-low);
    }

    &.high_unblockable {
        background: linear-gradient(to right, var(--high), var(--catch));
    }

    &.high_throw {
        background: linear-gradient(to right, var(--high), var(--throw));
    }

    &.low_throw {
        background: linear-gradient(to right, var(--low), var(--throw));
        
    }

    &.high_catch_throw {
        background: linear-gradient(to right, #ffe907, #c51a05);
        
    }

    &.low_catch_throw {
        background: linear-gradient(to right, #df5fd9, #c51a05);
        
    }

    &.hit_throw {
        background: linear-gradient(to right, #05d602, white);
        
    }

    &.down_throw {
        background: linear-gradient(to right, #904efe, white);
        
    }

    &.throw_combo {
        background: linear-gradient(to right, white, #05d602);
        
    }

    &.down_attacks {
        background-color: grey;
        
    }

    &.deflect {
        background: linear-gradient(to right, white, grey);
        
    }

    &.special {
        background: linear-gradient(to right, gray, white);
        
    }

    &.atemi {
        background: linear-gradient(to top, gray, white);
        
    }

    &.inashi {
        background: linear-gradient(to top, gray, white);
        
    }

    &.rev_combo {
        background: linear-gradient(to top, #05d602, gray);
        
    }

    &.wall {
        background-color: darkgreen;
    }

    &.side {
        
        background-color: aqua;
    }

    &.ch {
        
        background-color: orange;
    }
    
    &.other {
        background-color: fuchsia;
    }

    &.favourite  {
        background-color: gold;
    }

    &.character {
        background-color: pink;

        &.disabled {
            background-color: black;
        }
    }
}