.command-view {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__top {
        width: 100%;
        display: flex;
        justify-content: space-between;

        &__damage {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;

            label {
                font-size: 1.5rem;
                font-weight: 600;
                text-decoration: underline;
            }

            input {
                width: 2.5rem;
                text-align: center;
            }
        }

        .button {
            &.favourite {
                background-color: gold;
                color: black;
            }
        }

    }

    &__bottom {
        width: 100%;
    }
}