.combos-filters-modal {
    &__sub-header {
        display: flex;
        flex-direction: row;
        width: 100%;
        
        .button {
            flex:1
        }
    }

    &__content {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: 32rem;
        height: 30rem;
    }

    .modal-footer {
        justify-content: space-between;
        align-items: end;
    }
}