.move-type-select-modal {
    
    &__content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        box-sizing: border-box;
        width: 25rem;
        max-height: 55rem;
        gap: 1rem;
        padding: 0.5rem;

        .button {
            font-size: 1.2rem;
            width: 10rem;
            height: 5rem;
        }
    }
    
}