.modal {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    border: 0.1rem solid var(--white-color);
    border-radius: 1rem;
}