.move-command {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    font-size: 1.2rem;

    &__notation {
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        

        &.P {
            display: flex;
            justify-content: center;
            background-color: blue;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 1.5rem;
            font-size: 1rem;
            font-weight: 700;
            border: 1px solid;
            
        }

        &.K {
            display: flex;
            justify-content: center;
            background-color: red;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 1.5rem;
            font-size: 1rem;
            font-weight: 700;
            border: 1px solid;
        }

        &.G {
            display: flex;
            justify-content: center;
            background-color: green;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 1.5rem;
            font-size: 1rem;
            font-weight: 700;
            border: 1px solid;
        }

        &.and {
            font-size: 1.2rem;
            font-weight: 700;
        }

        &.or {
            font-size: 1.2rem;
            font-weight: 700;
        }

        &.combi {
            font-size: 1.2rem;
            font-weight: 700;
        }
    }
}