.combo-builder-modal {
    &__header {
        display: flex;
        flex-direction: row;

        .button {
            flex: 1;
        }
    }

    &__content {
        width: 32rem;
        height: 30rem;

        &__message {
            padding-left: 1rem;
            font-size: 1.1rem;
        }
    }

    .modal-footer {
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;

        &__main-buttons {
            display: flex;
            flex-direction: row;
            gap: 1.5rem;

            .button {
                width: fit-content;
            }
        }
    }
}