.combo-builder-modal {
    &__sub-header {
        display: flex;
        flex-direction: row;

        .button {
            flex: 1;
        }
    }

    &__content {
        width: 32rem;
        height: 28rem;
    }
}