.list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: 4rem;
    padding: 0.5rem;
    gap: 0.5rem;

    &__filter-buttons {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;

        .favourite {
            color: black;
            background-color: gold;
        }

        .button {
            &.active {
                .search-icon {
                    path {
                        fill: black;
                    }
                }

            }
        }

    }
}