.delete-modal {
    width: 30rem;

    &__content {
        padding: 0.5rem;

        .note {
            &__content {
                border: none;
            }
        }

        .combo {
            border: none;
        }

    }

    .modal-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;

        .button {
            &.cancel {
                width: auto;
            }
        }
    }

}