.notation-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    
    &__separator {
        border: 1px solid white;
        height: 5rem;
    }

}