.notation-buttons {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;

    &__center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;

        .space-bar {
            width: 10rem;
        }
    }

    &__move-categories {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
    }
  

}