.sortable-prop {
    flex-grow: 0;
    flex-shrink: 0;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;

    &__label {
        font-size: 0.9rem;
        text-align: center;
        font-weight: bold;
        padding: 0.2rem 0.3rem;
        border-bottom: 1px solid white;

        &.selected-sort {
            background-color: var(--side);
            color: black;
        }
    }

    &__value {
        text-align: center;
        padding: 0.2rem 0.3rem;

        &.throw-punish {
            color: var(--throw-attempt);

        }

        &.jab-punish {
            color: var(--jab-punish);
        }

        &.string-punish {
            color: var(--combo-punish);
        }

        &.launch-punish {
            color: var(--launch-punish);
        }

        &.ded-punish {
            color: var(--ded);
        }
    }
}