.app {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

input,
textarea,
button,
select,
li,
div,
span,
a {
  -webkit-tap-highlight-color: transparent;
}

.bottom-separator {
  // height: 5rem;
  // margin: 2rem 0;
  color: transparent;

  // &.s {
  //   margin: 0.5rem 0;
  //   height: 1rem;
  // }
}
