:root {
	--white-color: #ffffff;
	--green-color: green;
	--red-color: red;
	--black-color: #000000;

	--primary-color: #282c34;
	--lightest-color: #282c34;
	--light-color: #282c34;
	--dark-color: #282c34;
	--darkest-color: #000000;

	--disabled-color: grey;
	--background-color: var(--darkest-color);
	--button-color: var(--darkest-color);

	--modal-bg-z-index: 500;
	--toast-bg-z-index: 600;
	// 
	--punch: blue;
	--kick: red;
	--guard: green;
	// 
	--high: #ffe907;
	--ex-high: #c51a05;
	--mid: #05d602;
	--ex-mid: #1db0f8;
	--low: #df5fd9;
	--ex-low: #904efe;
	--throw: white;
	--catch: #c51a05;
	--no-category: grey;
	--wall: #05d602;
	--side: aqua;
	--ch: orange;
	--other: fuchsia;
	--favourite: gold;
	// 
	--throw-attempt: lightgreen;
	--jab-punish: aqua;
	--combo-punish: yellow;
	--launch-punish: orange;
	--ded: red;
	//
	--super-lightweight: #1db0f8;
	--lightweight: blue;
	--midweight: #904efe;
	--heavyweight: #df5fd9;
	--super-heavyweight: #c51a05;
}

html {
	background-color: var(--background-color);
	color: var(--white-color);
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-size: 12px;
}

body,
#root {
	// position: fixed;
	overflow: hidden;
	/* Avoiding overflow */
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
