.movelist-filters-modal {
    &__sub-header {
        display: flex;
        flex-direction: row;
        margin-bottom: 0.5rem;

        .button {
            flex: 1;
        }
    }

    &__content {
        padding: 1rem;
        width: 30rem;
        height: 32rem;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

        &__options {
            width: 100%;
            height: 100%;
            gap: 0.5rem;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            .button {
                // flex-grow: 0;
                // width: fit-content;
            }
        }

        &__fd-options {
            width: 100%;
            height: 100%;
            gap: 0.5rem;
            display: flex;
            flex-direction: column;
            
            &__option {
                display: flex;
                justify-content: space-between;
                align-items: center;
                &__header {
                    font-size: 1.1rem;
                    font-weight: bold;
                }

                &__options {
                    display: flex;
                    gap: 0.2rem;
                }
            }

            .button {
                // flex-grow: 0;
                // width: fit-content;
            }
        }
    }

    .modal-footer {
        justify-content: space-between;
        align-items: end;

        .button {
            height: 3px;
        }
    }
}