.movelist-filters-modal {
    &__sub-header {
        display: flex;
        flex-direction: row;
        margin-bottom: 0.5rem;

        .button {
            width: 50%;
        }
    }

    &__content {
        padding: 1rem;
        width: 30rem;
        height: 24rem;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }

    .modal-footer {
        justify-content: space-between;
        align-items: end;
        
        .button {
            height: 3px;
        }
    }
}