.character-select-modal {
    &__vs {
        padding-top: 1rem;
        display: flex;
        align-items: center;
        justify-self: center;
    }
    &__content {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 32rem;
        gap: 1rem;
        padding: 2rem 0.5rem;

        .button {
            width: 14rem;
            height: 3.5rem;
            font-size: 1.5rem;
        }
    }
    
}