.active-filters-list {
    width: 100%;
    box-sizing: border-box;
    padding: 0 0.5rem 0.5rem 0.5rem;
    gap: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: end;
    scrollbar-color: var(--white-color) var(--white-color);

    &__filters {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        align-items: center;
        gap: 0.5rem;
        scrollbar-color: var(--white-color) var(--white-color);

        .move-type-badge {
            height: 3rem!important;
        }


        .super-lightweight {
            color: white;
            background-color: var(--super-lightweight);
        }
        .lightweight {
            color: white;
            background-color: var(--lightweight);
        }
        .midweight {
            color: white;
            background-color: var(--midweight);
        }
        .heavyweight {
            color: white;
            background-color: var(--heavyweight);
        }
        .super-heavyweight {
            color: white;
            background-color: var(--super-heavyweight);
        }

        .move-command {
            border: 1px solid white;
            flex-shrink: 0;
            height: 3rem;
            cursor: pointer;

            &.launcher {
                border: 1px solid gold;
            }
            &.pseudo-launcher { 
                border: 1px dashed gold;
            }
        }

    }

    &__sort {
        display: flex;
        flex-direction: row;

        button:first-of-type {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        button:nth-of-type(2) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
  
}