.active-filters-list {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    padding: 0 0.5rem 0.5rem 0.5rem;
    gap: 0.5rem;

    &__filters {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        align-items: center;
        gap: 0.5rem;
    }

    &__sort {
        display: flex;
        flex-direction: row;

        button:first-of-type {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        button:nth-of-type(2) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

}