.move-type-select-modal {
    
    &__content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        box-sizing: border-box;
        max-width: 30rem;
        max-height: 60rem;
        gap: 1rem;
        padding: 1rem;

        .button {
            width: 13rem;
            height: 5rem;
            display: flex;
            flex-direction: column;

            .move-category-name {
                font-size: 1.1rem;
            }

            .number-of-moves {
                font-size: 1rem;
            }
        }
    }
    
}