.modal-footer {
    display: flex;
    // height: 4rem;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;

    &.align-left {
        align-items: flex-start;
        justify-content: flex-start;
    }

    &.align-center {
        align-items: center;
        justify-content: space-between;
    }

    &.align-right {
        align-items: flex-end;
        justify-content: flex-end;
    }
}