.modal-footer {
    display: flex;
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;

    .button {
        height: 3.5rem;
        width: 3.5rem;
    }
    &.align-left {
        align-items: flex-start;
        justify-content: flex-start;
    }

    &.align-center {
        align-items: center;
        justify-content: space-between;
    }

    &.align-right {
        align-items: flex-end;
        justify-content: flex-end;
    }
}